h1 {
    alignment: center;
    vert-align: top;
    color: rgba(0, 0, 0, 0.58);
}

h2 {
    color: rgba(0, 0, 0, 0.82);
}

table {
    alignment: center;
    width: 600px;
    height: auto;
    border-collapse: collapse;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}

table th, table td {
    border-bottom: 1px solid #ddd;
}